<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors Lizard Spock</title>
</head>
<body>
<h2>Welcome</h2>
<p>Please select a character to play: </p>

<form method="POST" action="{{ path('game_resolve') }}">
    {% for character in characters %}
    <button type="submit" name="character" value="{{ character.getName() }}">{{ character.getName() }}</button>
    {% endfor %}
</form>

</body>
</html>